<br>
<a class="nav" href="#search"><i class="fa fa-angle-double-left"></i> Back to search</a>
<br>
<h4>Hashtags.</h4>
<br>
<div class="list">
	<div class="preReviewSearch"><i class="fa fa-spinner fa-spin"></i> Fetching reviews.</div>
</div>

