<div class="areview">

<p class="lead"><%= model.review %></p>
<div><% _.each([0, 1, 2, 3, 4], function(i){ %>
<% if(i<=model.rating){ %>
	<i class="fa fa-star"></i>
<% }else{ %>
<i class="fa fa-star-o"></i>
<% }%>
<% }) %> <i class="fa fa-eur"></i> <%= model.price %>
</div>
<small>by <%= model.username %></small>

<hr>



</div>