.promise {
	margin-bottom: 15px;
	/*margin-top: -10px;*/
	margin-left: -35px;
}

.facebook-btn{
	/*width: 100%;*/
}

.facebook-btn i{
	margin-right: 3px;
}

.facebook-btn-text{
	vertical-align: super;
}


.btn-lg {
padding: 10.5px 16px;

}