h1, h2, h3, h4, h5, h6{
  font-weight: 300;
}

.container{
	width: 100%;
	padding-right:0;
	padding-left:0;
}

.home{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #7fbbda;
}

.map{
	margin: 0px;
	padding: 0px;
	background-color: #7fbbda;
	/*color:white;*/
	font-weight: 300;
	height: 100%;
}

.side{
	height: 100%;
	box-shadow: 0px -10px 15px #888888;
	background-color: white;
	overflow-y:scroll;
}

.search-btn{
	width:100%;
}

#over_map {
	position: absolute;
	top: 40px;
	left: 20%;
	right: 20%;
	z-index: 99;
	box-shadow: 5px 5px 10px #888888;
	border-radius: 8px;
}

.btn-lg{
	padding: 10.5px 16px;
}

#map_canvas{background-color:#7fbbda !important}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 20px 19px 20px 18px;
  border-radius: 3px !important;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  text-overflow: ellipsis;

	z-index: 999!important ;
	position: absolute!important;
	left: 25% !important;
	top: 20px!important;
	right: 25%!important;
	width : 500px;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 19px;
}

.mapLoad{
	color: white;
	margin-top: 35%;
}

.areview .fa-star{
	color: #EAC117;
}

.lead{
	margin-bottom: 0px;
}

input, button{
	font-weight: 300;
}

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

.places{
	height: 100%;
	width: 100%;
	z-index: 999 !important;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color:rgba(0, 0, 0, 0.7);
	overflow-y:scroll;
}

.places-inner{
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
	z-index: 9999 !important;
	margin-top: 10%;
	background-color:white;
	border-radius: 2px;
	min-height: 300px;
	max-height: 300px;
	overflow-y:scroll;
}

.places-outer{
	overflow-y:scroll;
}